



/*home-secion Style*/

#home{
    background: url(../image/wine13.jpeg)
    no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 4rem;
    padding:20px;
}



.home-heading {
    text-align: center;
    color: gold;
    padding:60px;
    font-family: 'Cookie', cursive;
    font-size: 60px;
}

#row-wine{
    text-align: center;
}
#image-wine {
    width:150px;
    text-align: center;
}

/*about-city*/
#about-city{
    height: 100vh;
}
.about-city-heading{

    font-family: 'Fredoka One', cursive;
}
.about-city-text{
    font-family: 'Comic Neue', cursive;
}
#about-city-image {
    width:230px;
}
/* Wineries section */
#wineries{
    background: whitesmoke;
    height:120vh;
}
#wineries-details{
    text-align: center;
}
.wineries-info{
    text-align: center;
}
#wineries-image{
    width:350px;
    text-align: center;
 
}
.planeta-head-1{
    padding:20px;
}
/* planeta style*/


.planeta-text{
    text-align: center;
    font-family: 'Poiret One', cursive;
    line-height: 600;
    font-weight: bolder;
    padding: 10px;
    /* margin-top: 3rem;; */
}
.planeta-text hr {
    width:50px;
    height: 4px;
    margin: 0 auto;
    border: none;
    background-color: red;
}

.all-heading-products{
    color:gold;
    font-family: 'Handlee', cursive;
    font-size: 20px;

}
/*service*/
#service {
    background: whitesmoke;
    height: 100vh;
}
.wine-heading{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Merienda', cursive;
}
.wine-button {
    font-size: 14px;  
}
/* contact section style*/
#contact{
    text-align: center;
}
form {
    margin:35px;
}
.input-field {
    width:300px;
    height:40px;
    margin-top:20px;
    padding-left: 10px;
    padding-right:10px;
    border:1px solid #232323;
    border-radius: 14px;
    outline:none;
}
.textare-field{
    height:150px;
    padding-top: 15px;
}
.btn btn-primary{
    border-radius: 20px;
    color:#232323;
    margin-top: 18px;
    background-color: hotpink;
    padding:10px;
    font-size:12px;
    border:none;
}

/*footter*/


.footer-1 {
    background: #212226;
    padding:20px;
}
.fotter-text p{
    text-align: center;
    color:blue;
}